table.html-table {
  display: table;
  border-collapse: collapse;
}

tr.html-table {
  display: table-row;
}

td.html-table,
th.html-table {
  display: table-cell;
}

th.html-table {
  text-transform: uppercase;
  /* text-align: center; */
  vertical-align: top;
}

td.html-table.box-center {
  text-align: center;
}
td.html-table.box-left {
  text-align: left;
}
td.html-table.box-right {
  text-align: right;
}

thead.html-table {
  display: table-header-group;
}

tbody.html-table {
  display: table-row-group;
}
