@import url(./spacing.css);

.box-defaults {
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box-inset-medium {
  padding: var(--spacing-medium);
}

.box-inset-small {
  padding: var(--spacing-small);
}

.box-stack-medium {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.box-inline-medium {
  flex-direction: row;
  gap: var(--spacing-medium);
}

.box-inline-small {
  flex-direction: row;
  gap: var(--spacing-small);
}

.box-squished-inset-medium {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  padding-top: calc(var(--spacing-medium) / 2);
  padding-bottom: calc(var(--spacing-medium) / 2);
}
