/* NOTE: Changing the font-size here should change the scale, because the spacing scale
         is set using REM */

html {
  font-family: inherit;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
