@import url(../foundations/spacing.css);

/* TODO: These selectors probably should be with AbstractBox and not on Button :/ */
.button {
  background-color: var(--ds-background-neutral);
  border-color: var(--ds-border-neutral);
  border-radius: var(--spacing-small);
}

.button.selected {
  background-color: var(--ds-background-selected);
  color: var(--ds-text-selected);
  text-decoration: underline;
}

.button.disabled {
  background-color: var(--ds-background-disabled);
  cursor: not-allowed;
  color: var(--ds-text-disabled);
}
