@import url(../foundations/spacing.css);

.button {
  background-color: #ccc;
  border-color: #bbb;
  border-radius: var(--spacing-small);
}

.button.selected {
  background-color: #aaa;
  text-decoration: underline;
}

.button.disabled {
  background-color: var(--ds-background-disabled);
  cursor: not-allowed;
  color: var(--ds-text-disabled);
}
