@import url(../foundations/spacing.css);

.button {
  background-color: #ccc;
  border-color: #bbb;
  border-radius: var(--spacing-small);
  /* color: #000; */
}

.button.selected {
  background-color: #aaa;
  text-decoration: underline;
}

.button.disabled {
  background-color: #eee;
  cursor: not-allowed;
  color: #ccc;
}
