@import url(../foundations/typography.css);

.typography-text {
  font-size: var(--typography-medium);
}

.typography-xsmall {
  font-size: var(--typography-xsmall);
}

.typography-small {
  font-size: var(--typography-small);
}

.typography-medium {
  font-size: var(--typography-medium);
}

.typography-bold {
  font-size: var(--typography-large);
  font-weight: 600; /* TODO This should be variable */
}

.typography-heading {
  font-size: var(--typography-large);
  font-weight: 600;
}

.typography-defaults {
  box-sizing: border-box;
}

a.typography-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
