@import url(../foundations/typography.css);

.typography-defaults {
  box-sizing: border-box;
  text-transform: none;
}

.typography-text {
  font-size: var(--typography-medium);
}

.typography-size-xsmall {
  font-size: var(--typography-xsmall);
}

.typography-size-small {
  font-size: var(--typography-small);
}

.typography-size-medium {
  font-size: var(--typography-medium);
}

.typography-weight-normal {
  font-weight: 400;
}

.typography-weight-semibold {
  font-weight: 600;
}

.typography-weight-bold {
  font-weight: 700;
}

.typography-heading {
  font-size: var(--typography-large);
  font-weight: 600;
}

.typography-transformation-uppercase {
  text-transform: uppercase;
}

.typography-transformation-lowercase {
  text-transform: uppercase;
}

.typography-transformation-capitalize {
  text-transform: capitalize;
}

a.typography-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
