@import url(../foundations/spacing.css);

.box-defaults {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box-flush {
  padding: 0;
}

/* PLEASE NOTE:
   Only the spacing styles and sizes required for the storybook demo have been displayed, a full
   implementation would require many more definitions.
 */

.box-inset-medium {
  padding: var(--spacing-medium);
}

.box-inset-small {
  padding: var(--spacing-small);
}

.box-stack {
  width: 100%;
  flex-direction: column;
}

.box-stack-medium {
  gap: var(--spacing-medium);
}

.box-inline {
  flex-direction: row;
  width: 100%;
}

.box-inline-medium {
  gap: var(--spacing-medium);
}

.box-inline-small {
  gap: var(--spacing-small);
}

.box-squished-inset-medium {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  padding-top: calc(var(--spacing-medium) / 2);
  padding-bottom: calc(var(--spacing-medium) / 2);
}
