@import url(../foundations/spacing.css);

.box-defaults {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.box-flush {
  padding: 0;
}

/* PLEASE NOTE:
   Only the spacing styles and sizes required for the storybook demo have been displayed, a full
   implementation would require many more definitions.
 */

.box-inset-large {
  padding: var(--spacing-large);
}

.box-inset-medium {
  padding: var(--spacing-medium);
}

.box-inset-small {
  padding: var(--spacing-small);
}

.box-stack {
  flex-direction: column;
}

.box-stack-large {
  gap: var(--spacing-medium);
}

.box-stack-medium {
  gap: var(--spacing-medium);
}

.box-stack-small {
  gap: var(--spacing-small);
}

.box-inline {
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.box-inline-large {
  gap: var(--spacing-large);
}

.box-inline-medium {
  gap: var(--spacing-medium);
}

.box-inline-small {
  gap: var(--spacing-small);
}

.box-wrap {
  flex-wrap: wrap;
}

.box-squished-inset-large {
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
  padding-top: calc(var(--spacing-large) / 2);
  padding-bottom: calc(var(--spacing-large) / 2);
}

.box-squished-inset-medium {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  padding-top: calc(var(--spacing-medium) / 2);
  padding-bottom: calc(var(--spacing-medium) / 2);
}

.box-squished-inset-small {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
  padding-top: calc(var(--spacing-small) / 2);
  padding-bottom: calc(var(--spacing-small) / 2);
}

.box-left {
  justify-content: flex-start;
  align-self: flex-start;
}

.box-center {
  justify-content: center;
  align-self: center;
}

.box-right {
  justify-content: flex-end;
  align-self: flex-end;
}

.box-radius-medium {
  border-radius: var(--spacing-medium);
}
