@import url(../foundations/spacing.css);

.spread {
  justify-content: space-between;
  gap: var(--spacing-small);
  width: 100%;
  align-items: flex-end; /* Added this to get items of different heights to be vertically aligned, might not work in all cases though */
}
