@import url(../foundations/spacing.css);

.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    column-gap: var(--spacing-medium);
    row-gap: var(--spacing-medium);
}

.grid > div {
    
    /* background: green; */
    border: 1px solid black;
}

.mobile {
    grid-template-columns: repeat(1, 1fr);
}

.tablet {
    grid-template-columns: repeat(2, 1fr);
}

.small_desktop {
    grid-template-columns: repeat(4, 1fr);
}

.large_desktop {
    grid-template-columns: repeat(8, 1fr);
}