@import url(../foundations/spacing.css);

.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    column-gap: var(--spacing-medium);
    row-gap: var(--spacing-medium);
}

.grid > div {
    
    /* background: green; */
    border: 1px dashed black;
    padding: var(--spacing-medium);
}

.mobile {
    grid-template-columns: repeat(4, 1fr);
}

.tablet {
    grid-template-columns: repeat(8, 1fr);
}

.small_desktop {
    grid-template-columns: repeat(12, 1fr);
}

.large_desktop {
    grid-template-columns: repeat(16, 1fr);
}